In [1]:
# Dependencies and Setup
import numpy as np
import pandas as pd

In [7]:
# File to Load
cities_data = 'cities.csv'

# Read School and Student Data File and store into Pandas Data Frames
cities_df= pd.read_csv(cities_data)
cities_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,rikitea,31,PF,1571108248,82,-23.12,-134.97,73.976,4.050
1,1,avarua,70,CK,1571108248,69,-21.21,-159.78,77.000,6.200
2,2,saint-philippe,40,CA,1571108248,66,45.36,-73.48,48.200,2.552
3,3,albany,75,US,1571108249,61,42.65,-73.75,51.800,1.733
4,4,koumac,0,NC,1571108249,39,-20.56,164.28,76.352,4.582

In [8]:
# #Set index to City ID
# cities_df = cities_df.set_index('City_ID')

# cities_df.head()

In [6]:
cities_df.to_html('Cities_Data_HTML', index=False)